@model List<GetRandomArticlesVM>
@foreach (var item in Model)
{

    <div class="card" style="box-shadow: 0 0 0; border: 0;">
        <div class="card-body" style="padding:17px;">
            <div class="row">
                <div class="col-9">
                    <a style="color: inherit;" asp-action="Profile" asp-controller="User" asp-route-id="@item.UserId">
                        <div class="profile" style="margin-bottom:10px;">
                            <img src="@item.UserArticleImage" style="width: 20px; border-radius: 50%;" alt="Alternate Text" /> &nbsp;@item.UserFullName
                        </div>
                    </a>
                    <a style="text-decoration: none; color: inherit;" asp-action="Details" asp-controller="Articles" asp-route-id="@item.ArticleId">
                        <h6 class="lead" style="font-size: 22px; font-weight: 500;"><b>@item.Title</b></h6>
                    </a>
                    <p class="text-muted text-sm">@item.Content.Substring(0, 52)...</p>
                    <ul class="ml-0 mb-0 fa-ul text-muted">
                        <li class="small">
                            @item.CreatedDate.ToString("dd.MM.yyyy") · @item.ReadTime dk · @foreach (var itemc in item.Categories)
                            {
                                <span style=" border: 1px solid rgba(230, 230, 230, 1); padding: 3px 7px; border-radius: 5px;">@itemc.Category.Name</span>
                            }
                        </li>
                    </ul>
                </div>
                <div class="col-3 text-center">
                    <img src="@item.Image" alt="user-avatar" style="width:200px; height:134px;" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
}